API/bin/
API/obj/
Auth/bin/
Auth/obj/
CMS/bin/
CMS/obj/
Core/bin/
Core/obj/
Dashboard/bin/
Dashboard/obj/
Data/bin/
Data/obj/
Reports/bin/
Reports/obj/
Web/bin/
Web/obj/
.vs
clients/node_modules/
clients/app/node_modules/
clients/dashboard/node_modules/
clients/shared/node_modules/